body
{
    font-family: 'Montserrat', sans-serif;
}

h3
{
    color: hsl(198, 37%, 53%);
}

p
{
    line-height: 1.6;    
    letter-spacing: 1.2px;
    margin-top: 45px;
}

td
{
    padding: 6px;
}

a
{
    color: hsl(198, 37%, 53%);
    text-decoration: underline;
    cursor: pointer;
}

.main
{
    width: 800px;
    margin: auto;    
}

.lead
{
    font-weight: 700;    
    line-height: 1.9;    
}

.interactive_panel
{
    padding: 20px;
    width: 725px;
    background-color: hsl(0, 0%, 95%);
    border-left: hsl(198, 37%, 53%) solid 6px;
}

.detector_panel
{
    height: 1200px;
    padding: 45px;
}

.detector
{
    width: 340px;
    border-width: 1px;
    border-style: dashed;
    border-color: hsla(0, 0%, 50%, 0.4);
    margin: 10px;
    float: left;
    cursor: pointer;
}

.detector.selected
{
    background-color: white;
    border-style: solid;
    border-color: hsl(0, 0%, 95%);    
}

.detector_0 .thresholdArea
{
    background: linear-gradient(90deg, hsl(19, 15%, 64%) 49%, hsl(19, 15%, 60%) 50%);
}

.detector_0.selected .thresholdArea
{
    background: linear-gradient(90deg, hsl(19, 37%, 64%) 49%, hsl(19, 37%, 60%) 50%);
}

.detector_0 .detectorTitle, .detector_0 .detectorThreshold
{
    color: hsl(19, 37%, 64%);
}

.detector_1 .thresholdArea
{
    background: linear-gradient(90deg, hsl(106, 15%, 64%) 49%, hsl(106, 15%, 60%) 50%);
}

.detector_1.selected .thresholdArea
{
    background: linear-gradient(90deg, hsl(106, 37%, 64%) 49%, hsl(106, 37%, 60%) 50%);
}

.detector_1 .detectorTitle, .detector_1 .detectorThreshold
{
    color: hsl(106, 37%, 64%);
}

.detector_2 .thresholdArea  
{
    background: linear-gradient(90deg, hsl(247, 15%, 64%) 49%, hsl(247, 15%, 60%) 50%);
}

.detector_2.selected .thresholdArea  
{
    background: linear-gradient(90deg, hsl(247, 37%, 64%) 49%, hsl(247, 37%, 60%) 50%);
}

.detector_2 .detectorTitle, .detector_2 .detectorThreshold
{
    color: hsl(247, 37%, 64%);
}

.detector_3 .thresholdArea
{
    background: linear-gradient(90deg, hsl(359, 15%, 64%) 49%, hsl(359, 15%, 60%) 50%);
}

.detector_3.selected .thresholdArea
{
    background: linear-gradient(90deg, hsl(359, 37%, 64%) 49%, hsl(359, 37%, 60%) 50%);
}

.detector_3 .detectorTitle, .detector_3 .detectorThreshold
{
    color: hsl(359, 37%, 64%);
}

.detectorTitle
{
    font-weight: 600;
    font-size: 19px;
    margin-bottom: 6px;
}

.detectorDescription
{
    font-size: 13px;
    color: hsla(0, 0%, 0%, 0.55);
}

.descriptionArea
{
    float: left;
    padding: 12px;
    width: 230px;
}

.thresholdArea
{
    float: right;
    width: 81px;
    height: 61px;
    color: white;
    text-align: center;
    padding-top: 26px;
    font-size: 30px;
}

.detectorThreshold
{
    font-size: 45px;
    font-weight: 1000;
}

.slider_area
{
    width: 100%;
    position: relative;
    height: 2rem;    
}

.slider_explanation
{
    font-size: 10px;
    width: 75px;
    float: left;
}

.time_slider
{
    background-color: #f5f5f5;
    float: left;
    width: 500px;
    -webkit-appearance: none;    
    margin-right: 10px;
    margin-top: 4px;
}

.time_slider::-webkit-slider-runnable-track
{
    background-color: hsl(0, 0%, 80%);
    height: 5px;
    margin-top:0px;
}

.time_slider::-webkit-slider-thumb
{
    -webkit-appearance: none;
    appearance: none;
    background-color: hsl(198, 37%, 53%);
    border-color: hsl(0, 0%, 95%);
    border-width: 5px;
    border-style: solid;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin-top:-11px;
}

.time_slider:focus
{
   outline: none;
}

canvas
{
    background-color: white;
    float: left;
}

.axisArea
{
    float: left;
    font-size: 10px;
}

.bottom_tick
{
    margin-top: 125px;    
}

.label_illustration
{
    vertical-align: middle;
}

.neuron_button
{
    outline-style: dashed;
    outline-color: hsla(0, 0%, 80%, 1);
    outline-width: 2px;
    padding: 7px;
    cursor: pointer;
    font-weight: 600;
}

.neuron_button.selected
{
    background-color: red;    
}

.sentence
{
    height: 35px;   
}

.word
{
    float: left;
    padding: 5px;
}

img
{
    width: 35px;
    height: 35px;
}

#first_character 
{
  color: hsl(198, 37%, 53%);
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.arrowButton
{
    width: 33px;
    height: 11px;
    border: none;
    background-color: transparent; 
    display: block;
    margin-left: 25px;  
    cursor: pointer;
}

.upArrow
{
    background-image: url('svg/arrow_up.svg');       
    margin-top: -12px;
}

.downArrow
{
    background-image: url('svg/arrow_down.svg');    
}