body
{
    font-family: 'Montserrat', sans-serif;
}

h3
{
    color: hsl(198, 37%, 53%);
}

p
{
    line-height: 1.6;    
    letter-spacing: 1.2px;
    margin-top: 45px;
}

.main
{
    width: 800px;
    margin: auto;    
}

.lead
{
    font-weight: 700;    
    line-height: 1.9;    
}

.interactive_panel
{
    width: 600px;
    height: 1000px;
    background-color: hsl(0, 0%, 90%);
    padding: 65px;
    border-left: hsl(198, 37%, 53%) solid 6px;
}

.detector
{
    width: 250px;
    border-width: 3px;
    border-style: solid;
    padding: 10px;
    margin: 10px;
    float: left;
    cursor: pointer;
}

.detector_0
{
    border-color: hsla(180, 54%, 42%, 0.25);
}

.detector_0.selected
{
    border-color: hsla(180, 54%, 42%, 1);
    background-color: hsla(180, 54%, 42%, 0.05);
}

.detector_0 .detectorTitle, .detector_0 .detectorThreshold
{
    color: hsl(180, 54%, 42%);
}

.detector_1
{
    border-color: hsla(10, 54%, 42%, 0.25);
}

.detector_1.selected
{
    border-color: hsla(10, 54%, 42%, 1);
    background-color: hsla(10, 54%, 42%, 0.05);
}

.detector_1 .detectorTitle, .detector_1 .detectorThreshold
{
    color: hsl(10, 54%, 42%);
}

.detector_2
{
    border-color: hsla(100, 54%, 42%, 0.25);
}

.detector_2.selected
{
    border-color: hsla(100, 54%, 42%, 1);
    background-color: hsla(100, 54%, 42%, 0.05);
}

.detector_2 .detectorTitle, .detector_2 .detectorThreshold
{
    color: hsl(100, 54%, 42%);
}

.detector_3
{
    border-color: hsla(300, 54%, 42%, 0.25);
}

.detector_3.selected
{
    border-color: hsla(300, 54%, 42%, 1);
    background-color: hsla(300, 54%, 42%, 0.05);
}

.detector_3 .detectorTitle, .detector_3 .detectorThreshold
{
    color: hsl(300, 54%, 42%);
}

.detectorTitle
{
    font-weight: 1000;
}

.detectorDescription
{
    font-size: 13px;
    color: hsla(0, 0%, 0%, 0.55);
}

.detectorThreshold
{
    font-size: 45px;
    font-weight: 1000;
}

.slider_area
{
    width: 100%;
    position: relative;
    height: 2rem;    
}

.time_slider
{
    background-color: #f5f5f5;
    width: calc(100% - 2rem);
    position: absolute;
    left: 1rem;
    top: 4%;
    float: none;
    margin: 0 auto;
    -webkit-appearance: none;    
}

.time_slider::-webkit-slider-runnable-track
{
    background-color: hsl(0, 0%, 80%);
    height: 5px;
    margin-top:0px;
}

.time_slider::-webkit-slider-thumb
{
    -webkit-appearance: none;
    appearance: none;
    background-color: hsl(198, 37%, 53%);
    border-color: hsl(0, 0%, 90%);
    border-width: 5px;
    border-style: solid;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin-top:-11px;
}

.time_slider:focus
{
   outline: none;
}

img
{
    width: 35px;
    height: 35px;
}

#first_character 
{
  color: hsl(198, 37%, 53%);
  float: left;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}